@use "../../variables.scss" as *;
.listPage{
    display: flex;
    height: 100vh;

    .listContainer{
        flex: 3;
        height: 100%;
        // background-color: #f1f1f1;
        
        .wrapper{
            padding-bottom: 200px;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            height: 100%;
        }
    }

    .mapContainer{
        height: 90vh;
        flex: 2;
        background-color: $bg-color;
        overflow-y: scroll;
        Map{
            height: 100%;
            overflow-y: scroll;
        }
    }
}